*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;;
}
html,body{
    width: 100%;
    height: 100%; 
    background: url(./images/3.jpg);
    background-size: cover;
}
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

}
.container{
    max-width: 140rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav>a{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: none;
    color:white;
}
.nav-item{
    list-style: none;
    display: flex;
}
.nav-list{
    margin: 0 2.8rem;
}
.nav-link{
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    color: white;
   
}
.bag{
    font-size: 1.5vw;
    color: white;
}
.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.content{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
    padding: 2vw 1.5vw;
}
.text{
    color: #fff;
    flex: 1;
    text-transform: uppercase;
}
.text h1{
    font-size: calc( 1rem + 4vw);
    font-weight: 800;
    line-height: 1.2;
}
.text h1 span{
    color: #000;
}
.text h5{
    font-size: 1.9rem;
    font-weight: 800;
    margin: 6rem 0 3rem 0;
}
.text p{
    text-transform: capitalize;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.button{
    display: inline-block;
    padding: 1.2rem 3rem;
    background-color: #000;
    color: #fff;
    font-weight: 800;
    text-decoration: none;
    border-radius: 50px;
}
.watch-wrapper{
    flex: 0 0 35%;
}
.container1{
    width: 100%;
    height: 100%;
    border: 2px solid black;
}
.circle{
    position: absolute;
}
.circle-small{
    top: -15rem;
    left: -21rem;
}
.circle-large{
    bottom: -52rem;
    right: -40rem;
}
.overlayer{
    width: 100%;
    height: 100vh;
     /* background-color: #000; */
    position: absolute;
    z-index: 1000;
    display: flex;
    top: 0;
    left: 0;

}
.layer{
    background-color: #000;
}
.layer1{
    flex: 1;
}
.layer2{
    flex: 1;
}
.layer3{
    flex: 1;
}
